@import './config';


// Appear and disappear animations

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes scale-up-appear {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes slide-down-appear {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	50% {
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes slide-up-appear {
	0% {
		opacity: 0;
		transform: translateY(120px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

// Background animations

@keyframes background-anim {
	0% {
		background-color: rgba(255, 255, 255, .5);
		border: none;
		opacity: 0;
	}
	25% {
		background-color: $grey-1;
	}
	80% {
		background-position: center center;
		background-size: 100%;
		opacity: 1;
	}
	100% {
		background-color: transparent;
		border: 1px solid $white;
	}
}

@keyframes softBevel {
	0% {
		box-shadow: 0px 0px 0px rgba(55, 84, 170, 0.1),
			0px 0px 0px rgba(255, 255, 255, 1),
			inset 0px 0px 0px rgba(255, 255, 255, 0.5);
		border: 1px solid #e8eaf6;
	}
	30%,
	80% {
		box-shadow: 30px 30px 80px rgba(55, 84, 170, 0.1),
			-30px -30px 80px rgba(255, 255, 255, 1),
			inset 4px 4px 10px rgba(255, 255, 255, 0.5);
		border: 1px solid #fff;
	}
	100% {
		box-shadow: 0px 0px 0px rgba(55, 84, 170, 0.1),
			0px 0px 0px rgba(255, 255, 255, 1),
			inset 0px 0px 0px rgba(255, 255, 255, 0.5);
		border: 1px solid #e8eaf6;
	}
}

// Movements

@keyframes move-down-up {
	0% {
		transform: translateY(0);
	}
	60% {
		transform: translateY(15px);
	}
	100% {
		transform: translateY(0);
	}
}
