// Media breakpoints
$xs: 380px;
$sm: 600px;
$sm-m: 800px;
$md: 1024px;
$md-m: 1200px;
$lg: 1440px;
$xl: 1800px;

// Typography
$main-font: 'Assistant', sans-serif;
$title-font: 'Roboto Mono', monospace;

$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

$fs-base: 10px;
$fs-1: 36px;
$fs-1m: 28px;
$fs-2: 26px;
$fs-3: 22px;
$fs-4: 20px;
$fs-5: 18px;

$icon-lg: 28px;
$icon-md: 20px;
$icon-sm: 14px;

$text-spacing: 1px;

// Colors
$primary-color: #54a0ff;
$primary-dark: #2e86de;
$secondary-color: #FEBA82;
$secondary-dark: #F99171;
$brand-danger: #eb4d4b;
$brand-success: #78e08f;

$black-3: #2c2c31;
$black-2: #1C1C1E;
$black-1: darken($black-2, 10%);
$grey: #5A5A5D;
$grey-1: #989899;
$black-card: #161514;
$asphalt: #313638;
$white: #ffffff;
$white-2: #eeeeee;

$border-color: #606060;

$title-color: #eeeeee;
$text-color: #c7c8c7;
$text-grey: #A8A8A8;

// Card
$card-bg: $black-3;

// Gradients
$l-gradient-1: linear-gradient(90deg, rgba(223,112,77,1) 0%, rgba(59,59,189,1) 100%, rgba(0,212,255,1) 100%);
$l-gradient-2: linear-gradient(90deg, rgba(77,221,223,1) 0%, rgba(180,59,189,1) 100%, rgba(0,212,255,1) 100%);
$l-gradient-3: linear-gradient(90deg, rgba(77,221,223,1) 0%, rgba(59,59,189,1) 100%, rgba(0,212,255,1) 100%);
$l-gradient-4: linear-gradient(90deg, rgba(77,223,156,1) 0%, rgba(254,137,238,1) 100%, rgba(180,59,189,1) 100%);
$l-gradient-5: linear-gradient(90deg, rgba(129,244,251,1) 0%, rgba(245,116,243,1) 100%);

// Brands
$skype: #00aff0;
$whatsapp: #25D366;

// Borders
$transparent-border: rgba(248, 251, 255, .46);

// Shadows
$card-shadow: 0 3px 10px 4px rgba(63, 66, 68, .07);
$card-shadow-dark: 0 3px 10px 4px rgba(0, 0, 0, .15);
$sidebar-shadow: 1px 3px 10px 4px rgba(63, 66, 68, .07);
$toolbar-shadow: 10px 3px 10px 4px rgba(63, 66, 68, .07);
$toolbar-shadow-dark: 8px 2px 15px 7px rgba(0, 0, 0, .4);
$round-btn-shadow: 0 3px 10px 4px rgba(63, 66, 68, .5);
$gold-glow: 0 3px 10px 4px rgba(219, 153, 105,.43);

// Global measurements
$header-height: 75px;
$header-height-s: 60px;

// Hero
$details-hero-height: 95vh;

$pd-desktop: 80px;
$pd-tablet-y: 80px;
$pd-tablet-x: 32px;
$pd-mobile-y: 60px;
$pd-mobile-x: 16px;

$container-padding: calc(#{$header-height} + 6em) 3em 3em;
$chip-padding: 10px 20px;

// Cards
$list-card-height: 440px;
$list-card-width: 330px;