<div class="padding-layer">
  <main class="confirm-dialog-container">
    <ng-container *ngIf="data.exp as experiment">
      <h2>Delete {{experiment.title}}?</h2>
      <p class="card-text">
        Are you sure? The data will be erased completely.
      </p>
    </ng-container>

    <section class="dialog-actions">
      <button type="button" class="text-link" [mat-dialog-close]="false">No</button>
      <button class="text-link" [mat-dialog-close]="true">Yes, delete
      </button>
    </section>
  </main>
</div>