@import './../../../assets/scss/config';
@import './../../../assets/scss/animations';
@import './../../../assets/scss/extends';
@import './../../../assets/scss/mixins';

#home-page {
    background-color: $black;
}

.page {
    p {
        color: $white;
    }
    
    &__section {
        min-height: 100vh;
        width: 100vw;

        @extend %flex-center;
    }

    app-projects-section {
        height: 100%;
        width: 100%;
    }
}

.fs-container {
    height: 100vh;
    width: 100vw;

    @include flex(center, center, column, nowrap);

    &__title {
        color: $white;
        margin: 0 0 50px;
    }
}